body{
	margin: 0;
	padding: 0;
	background-color: black;
}
.container{
	display: flex;
	justify-content: center;
}
.map{
	position: absolute;
	width: 490px;
	height: 650px;
	background-image:url('../../maps background/map4_background.png');
	top: 50px;
	display: flex;
	justify-content: center;
}
.avatar_box{
	position: absolute;
	width: 57px;
	height: 96px;
	bottom: 120px;
	left: 20px;
	transition: .15s;
	z-index: 10;
}
.avatar{
	position: absolute;
	width: 100%;
	height: 100%;
}
#back{
	visibility: hidden;
}
#front{
	visibility: hidden;
}
#side1{
	visibility: visible;
}
#side2{
	visibility: hidden;
}
.buttons{
	visibility: hidden;
}
#wooden_fence{
	position: absolute;
	right: 19.5px;
	top: 248px;
	z-index: 1;
}
#simple_house{
	position: absolute;
	top: 5px;
	z-index: 1;
	right: 19px;
}