.text_design{
	color: white;
	text-shadow: 2px 0px black;
	font-size: 30px;
	font-family: "Verdana";
}
.action_notice{
	position: absolute;
	width: 400px;
	height: 60px;
	top: 260px;
	display: flex;
	justify-content: center;
	z-index: 500;
}
#mail_pick_notice{
	visibility: hidden;
}
#sleep_action_notice{
	visibility: hidden;
}
#cannot_use_skill{
	visibility: hidden;
	width: 1px;
	height: 1px;
}